<a href="https://colab.research.google.com/github/syafaatunisa/DAA/blob/main/DAA_pertemuan_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def bfs(graph, start):
    visited = []
    queue = [start]

    while queue:
        node = queue.pop(0)
        if node not in visited:
            visited.append(node)
            neighbours = graph[node]
            for neighbours in neighbours:
                queue.append(neighbours)
    return visited

In [4]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
         'Wasim' : {'Imran', 'Amin'},
         'Imran' : {'Wasim', 'Faras'},
         'Faras' : {'Imran'},
         'Mike' : {'Amin'},
         'Nick' : {'Amin'}}

In [5]:
bfs(graph, 'Amin')

['Amin', 'Mike', 'Nick', 'Wasim', 'Imran', 'Faras']

In [6]:
# o amin ------------
# |        |         |
# o wasim  o nick    o mike
# |
# o imran
# |
# o faras

bfs(graph, 'Amin')

['Amin', 'Mike', 'Nick', 'Wasim', 'Imran', 'Faras']

In [7]:
# o wasim ----
# |          |
# o imran    o amin ----
# |          |          |
# o faras    o nick     o mike

bfs(graph, 'Wasim')

['Wasim', 'Imran', 'Amin', 'Faras', 'Mike', 'Nick']

In [8]:
# o faras
# |          
# o imran    
# o wasim   o nick     o mike
# |         |          |
# o amin ----------

bfs(graph, 'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Mike', 'Nick']

In [9]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2', 'Dosen F', 'Dosen G'},
       'Dosen F' : {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

In [10]:
bfs(graph, 'Rektor')

['Rektor',
 'Warek1',
 'Warek2',
 'Kaprodi1',
 'Kaprodi3',
 'Kaprodi2',
 'Dosen C',
 'Dosen B',
 'Dosen A',
 'Dosen G',
 'Dosen F',
 'Dosen D',
 'Dosen E']

In [11]:
def dfs(graph, start, visited=None):
  if visited is None:
    visited = set()
  visited.add(start)
  print(start)
  for next in graph[start] - visited:
    dfs(graph, next, visited)
  return visited

In [12]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
       'Wasim' : {'Imran', 'Amin'},
       'Imran' : {'Wasim','Faras'},
       'Faras' : {'Imran'},
       'Mike' : {'Amin'},
       'Nick' : {'Amin'}}

In [15]:
#o amin -----------
#|        |       |
#o wasim  o nick  o mike
#|
#o imran
#|
#o faras

dfs(graph, 'Amin')

Amin
Mike
Nick
Wasim
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [16]:
#O Amin --------------
#|            |         |
#O Wasim      O Nick    O Mike
#|            |         |
#O Imran
#|
#O Faras
#
# turun dari wasim ke faras, naik ke ami, geser ke nick & mike

dfs(graph,'Wasim')

Wasim
Imran
Faras
Amin
Mike
Nick

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [17]:
#O Amin --------------
#|            |         |
#O Wasim      O Nick    O Mike
#|            |         |
#O Imran
#|
#O Faras
#
# naik nick ke amin, turun ke faras, geser ke mike

dfs(graph,'Nick')

Nick
Amin
Mike
Wasim
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [20]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

dfs(graph,'Rektor')

Rektor
Warek1
Warek2
Kaprodi1
Dosen C
Dosen B
Dosen A
Kaprodi3
Dosen G
Dosen F
Kaprodi2
Dosen E
Dosen D

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi1',
 'Kaprodi2',
 'Kaprodi3',
 'Rektor',
 'Warek1',
 'Warek2'}